
.quiz {
    background-color: #ede8e4;
    color: #1d3a42;
    border: 4px solid #5e4630;
    border-radius: 6px;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.quiz__btn {
    background-color: #eecb6e;
    color: #ffffff;
    padding: 0.75rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.welcomescreen {

}

.resultscreen {
    display: none;
}
.question__awswers {
    list-style-type: none;
    padding-left: 0;
}

.awswer {
    border: 2px solid #1d3a42;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
    padding: 0.5rem 1rem;
    margin: 10px auto;
    cursor: pointer;
}

.answer--correct {
    background-color: #8bbc98;
}

.answer--wrong {
    background-color: #da7676;
}

.questionscreen {
    display: none;
}

.hidden {
    display: none;
}